.contacts {
    min-height: initial;
}

.contacts__container {
    display: flex;
}

.contacts__map {
    min-width: 600px;
    min-height: 400px;
    padding: 20px;
    padding-top: 0;
}

.contacts__address {
    padding: 20px;
    padding-top: 0;
    line-height: 1.5;
}

.contacts__header {
    margin: 0;
    font-size: 32px;
}