.kids-programs__container {
    display: flex;
}

.kids-programs__content {
    width: 60%;
}

.kids-programs__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.kids-programs__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}