.programs-item__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.programs-item__container {
    display: flex;
    padding: 20px;
    justify-content: space-around;
}

.programs-item__logo {
    width: 25%;
}

.programs_item__content {
    width: 65%;
    padding-left: 20px;
}

.programs_item__content p {
    margin: 0;
    margin-bottom: 20px;
}

.programs_item {
    padding: 10px;
}

.programs_item:hover {
    box-shadow: 0 20px 20px rgb(0 0 0 / 40%);
    background: rgba(248,247,244,.2);
    border-radius: 11px;
    transition: 0.3s;
}
