.menu {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    height: 80px;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__item {
    list-style-type: none;
}

.menu__link {
    display: block;
    color: #000000;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    padding: 10px 20px;
}
