.section {
    display: flex;
    padding: 40px;
    padding-top: 0;
    flex-direction: column;
    background-color: rgba(255, 192, 205, 0.1);
    min-height: 100vh;
}

.section-header {
    margin: 10px;
    margin-left: 0;
    padding: 0;
    font-weight: 700;
    font-size: 46px;
}

.section-item__more-button {
    display: none;
    cursor: pointer;
    margin: 0 10px;
}

.section_item {
    margin: 10px;
    padding: 0;
    font-weight: 400;
    font-size: 20px;
}

.section-item__title-wrapper:hover .section-item__more-button {
    display: block;
}

.section-item__title {
    display: block;
    margin: 0;
    padding: 10px;
    font-weight: 700;
    font-size: 30px;
}

.section-item__title-wrapper {
    display: flex;
    align-items: center;
}

.section ul {
    margin: 0;
}
